*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	flex-wrap: wrap;
	font-family: 'Roboto';
}

.clear{
	clear: both;
}

html,body{
	height: 100%;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2%;
	padding-top: 40px;
}


header{
	padding: 15px;
	color: #e5005b;
	border-bottom: 1px solid #e5005b;
}

.logo{
	width: 150px;
	cursor: pointer;
	float: left;
}

.logo img{
	width: 100%;
}

.titulo{
	color: #575756;
	float: right;
	font-size: 30px;
	font-weight: lighter;
	padding-right: 20px;
}

.wraper-table{
	overflow-x: auto;
}

table{
	width: 100%;
	min-width: 1100px;
	color: #575756;
	border-collapse: collapse;
}

.wraper-content{
	width: 100%;
	min-width: 735px;
}

.first{
	font-weight: bold;
	background-color: rgb(245,245,245);
}

.first td{
	padding: 10px;
	color: #e5005b;
}

.opcoes{
	transition: 0.5s;
}

.opcoes i:hover{
	color: #c82333;
	cursor: pointer;
}

.opcoes a{
	color: #575756;
}

.second{
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	transition: 0.6s;
}

.second:hover{
	color: #e5005b;
}

.second td{
	padding: 10px;
}

.add{
	font-size: 19px;
	cursor: pointer;
	color: #e5005b;
	padding-bottom: 10px;
	float: left;
}

.bottom10{
	margin-bottom: 11px;
}

.form-code{
	float: left;
	width: 125px;
	margin-left: 10px;
	margin-bottom: 10px;
	position: relative;
	top: -5px;
}

.form-code input[type=text]{
	width: 100%;
	height: 30px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid #575756;
	display: none;
}

.progresso-content{
	margin-top: 40px;
	position: relative;
	padding-top: 65px;
}

.statusbar{
	width: 100%;
	height: 30px;
	position: relative;
	background-color: #ccc;
	border-radius: 10px;
}

.progresso{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	/*Progresso aqui !*/
		width: 0%;
	/*              */

	background-color: #e5005b;
	border-radius: 10px;
}

.progresso-content i{
	position: absolute;
	top: 0;
	font-size: 35px;
	color: #ccc;
}

.progresso-content i p{
	font-size: 15px;
	position: relative;
	left: -10px;
	top: 10px;
}

.progresso-content i.ux3 p{
	left: -30px;
}

.progresso-content i.ux4 p{
	left: -15px;
}

.ux1{
	left: 0%;
}

.ux2{
	left: 33%;
}

.ux3{
	left: 66%;
}

.ux4{
	left: 97%;
}


.eached{
	color: #e5005b !important;
}

.progresso p{
	color: white;
	margin-left: 10px;
	margin-top: 6px;
}

.title-ras{
	color: #575756;
}

.content-info{
	width: 100%;
	background-color: rgb(245,245,245);
	margin-top: 40px;
	padding: 10px;
}

.left-info h3{
	float: left;
	width: 50%;
}

.left-info h3{color: #575756}

.Ppart{
	float: left;
	width: 50%;
	margin-top: 10px;
	height: 70px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.content-situation{
	border: 1px solid rgb(245,245,245);
	padding: 10px;
	color: #575756;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.hour-date{
	font-size: 13px;
	margin-top: 15px;
}

.locale-product{
	position: relative;
	top: 6px;
}

@media screen and (max-width: 743px){

	.locale-product{
		position: relative;
		top: 3px;
		margin-left: 10px;
		font-size: 13px;
	}

	.hour-date{
		font-size: 11px;
		margin-top: 10px;
	}

	.label-product{
		font-size: 15px;
	}


	.progresso-content i p{
		font-size: 13px;
	}

	.Ppart{
		height: 60px;
	}
}

@media screen and (max-width: 650px){

	.progresso-content i p{
		left: -5px;
	}

	.progresso-content i.ux3 p{
		left: -20px;
	}

}

@media screen and (max-width: 530px){

	.titulo{
		display: none;
	}

	.logo{
		width: 150px;
		margin: 0 auto;
		float: none;
	}


	.progresso-content i{
		position: absolute;
		top: 15px;
		font-size: 25px;
		color: #ccc;
	}

	.progresso-content i p{
		font-size: 11px;
		top: 5px;
	}

}

@media screen and (max-width: 392px){

	.progresso-content i{
		position: absolute;
		top: 18px;
		font-size: 25px;
		color: #ccc;
	}

	.progresso-content i p{
		font-size: 9px;
	}

	.title-ras{
		font-size: 20px;
	}

}